<div class="row borda margin-bottom20">
    <div class="col-md-6">
        <h2 class="text-center">Ocorrências</h2>
        <a href="/sistemaifnmg/#!/ocorrencia">
            <div class="col-md-6 text-center">
                <div class="botao">
                    <span class="fa fa-list-ul center-block"></span>
                    <p>Listar Ocorrências</p>
                </div>
            </div>
        </a>
        <a href="/sistemaifnmg/#!/ocorrencia/cadastrar">
            <div class="col-md-6 text-center">
                <div class="botao">
                    <span class="fa fa-save center-block"></span>
                    <p>Cadastrar Ocorrências</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-6">
        <h2 class="text-center">Reuniões</h2>
        <a href="/sistemaifnmg/#!/reuniao">
            <div class="col-md-6 text-center">
                <div class="botao">
                    <span class="fa fa-list-ul center-block"></span>
                    <p>Listar Reuniões</p>
                </div>
            </div>
        </a>
        <a href="/sistemaifnmg/#!/reuniao/cadastrar">
            <div class="col-md-6 text-center">
                <div class="botao">
                    <span class="fa fa-save center-block"></span>
                    <p>Cadastrar Reuniões</p>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="row borda  margin-bottom20">

    <div class="col-md-6">
        <h2 class="text-center">Alunos</h2>
        <a href="/sistemaifnmg/#!/aluno">
            <div class="col-md-6 text-center">
                <div class="botao">
                    <span class="fa fa-list-ul center-block"></span>
                    <p>Listar Alunos</p>
                </div>
            </div>
        </a>
        <a href="/sistemaifnmg/#!/aluno/cadastrar">
            <div class="col-md-6 text-center">
                <div class="botao">
                    <span class="fa fa-save center-block"></span>
                    <p>Cadastrar Alunos</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-6">
        <h2 class="text-center">Servidores</h2>
        <a href="/sistemaifnmg/#!/servidor">
            <div class="col-md-6 text-center">
                <div class="botao">
                    <span class="fa fa-list-ul center-block"></span>
                    <p>Listar Servidores</p>
                </div>
            </div>
        </a>
        <a href="/sistemaifnmg/#!/servidor/cadastrar">
            <div class="col-md-6 text-center">
                <div class="botao">
                    <span class="fa fa-save center-block"></span>
                    <p>Cadastrar Servidores</p>
                </div>
            </div>
        </a>
    </div>

</div>
<div class="row borda" ng-show="funcaoUsuario == 1">
    <div class="col-md-6">
        <h2 class="text-center">Usuários</h2>
        <a href="/sistemaifnmg/#!/usuario">
            <div class="col-md-6 text-center">
                <div class="botao">
                    <span class="fa fa-list-ul center-block"></span>
                    <p>Listar Usuários</p>
                </div>
            </div>
        </a>
        <a href="/sistemaifnmg/#!/usuario/cadastrar">
            <div class="col-md-6 text-center">
                <div class="botao">
                    <span class="fa fa-save center-block"></span>
                    <p>Cadastrar Usuários</p>
                </div>
            </div>
        </a>
    </div>
</div>
