<div class="container-fluid">
    <ol class="breadcrumb">
        <li><a href="/sistemaifnmg/#!/aluno/">Aluno</a></li>
        <li class="active">Cadastrar</li>
    </ol>
    <p class="h3 text-center">Cadastrar Aluno</p>
    <form name="formCadastroAluno">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome" ng-model="aluno.nome"
                       required>

            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="sobrenome">Sobrenome</label>
                <input type="text" class="form-control" id="sobrenome" placeholder="Sobrenome"
                       ng-model="aluno.sobrenome" required>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="matricula">Matrícula</label>
                <input type="text" class="form-control" id="matricula" placeholder="Matricula"
                       ng-model="aluno.matricula" required>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="turma">Turma</label>
                <select ng-model="aluno.turma" id="turma" class="form-control">
                    <option ng-repeat="turma in turmas" value="{{turma.id}}">{{turma.nome}} - {{turma.curso}} / {{turma.modalidade}}</option>
                </select>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="cpf">Cpf</label>
                <input type="text" class="form-control" id="cpf" ng-model="aluno.cpf" required>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="telefoneResponsaveis">Telefone Responsaveis</label>
                <input type="text" class="form-control" id="telefoneResponsaveis" ng-model="aluno.telefoneResponsaveis"
                       required>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="telefonePessoal">Telefone Pessoal</label>
                <input type="text" class="form-control" id="telefonePessoal" ng-model="aluno.telefonePessoal" required>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" class="form-control" id="email" placeholder="Email" ng-model="aluno.email" required>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="matricula">Senha</label>
                <input type="password" class="form-control" id="senha" placeholder="Senha" ng-model="aluno.senha"
                       required>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="foto">Foto</label>
                <input type='file' id="foto" ng-model='aluno.foto' base-sixty-four-input>
            </div>
        </div>
        <div class="col-sm-12">
            <button type="submit" class="btn btn-success form-control" ng-click="cadastrarAluno()">Cadastrar Aluno
            </button>
        </div>

    </form>
</div>