<div class="container-fluid">
    <ol class="breadcrumb">
        <li><a href="/sistemaifnmg/#!/aluno/">Aluno</a></li>
        <li class="active">Listar</li>
    </ol>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">Procurar Aluno:</label>
            <div class="col-sm-8">
                <input ng-model="searchText" class="form-control">
            </div>
            <div class="col-sm-2"><a class="btn btn-success" href="/sistemaifnmg/#!/aluno/cadastrar">Cadastrar</a></div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nome do Aluno</th>
            <th>Email</th>
            <th>CPF</th>
            <th>Tel Responsáveis</th>
            <th>Tel Pessoal</th>
            <th>Editar</th>
            <th>Ocorrencias do aluno</th>
        </tr>
        <tr ng-repeat="a in alunos | filter:searchText">
            <td>{{a.nome + " "+ a.sobrenome}}</td>
            <td>{{a.email}}</td>
            <td>{{a.cpf}}</td>
            <td>{{a.telefone_responsaveis}}</td>
            <td>{{a.telefone_pessoal}}</td>
            <td><a href="/sistemaifnmg/#!/aluno/{{a.id}}/editar" class="fa fa-edit textoPreto"></a></td>
            <td>
                <a class="fa fa-eye textoPreto text-center" href="/sistemaifnmg/#!/aluno/{{a.id}}"></a>
            </td>
        </tr>
        </thead>
    </table>
</div>