<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <img src="images/alunos/{{ocorrencias.matricula}}.jpg" class="img-responsive img-circle"/>
        </div>
        <div class="col-sm-10">
            <p class="h2">Aluno: {{ocorrencias.nome+" "+ocorrencias.sobrenome}}</p>
        </div>
    </div>
    <div class="ocorrencias borda margin-bottom20">
        <p class="h3">Ocorrências:</p>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Tipo</th>
                <th>Descrição</th>
                <th>Data</th>
                <th>Confirmacao</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="ocorrencia in ocorrencias.ocorrencias">
                <td>{{ocorrencia.id}}</td>
                <td>{{ocorrencia.titulo}}</td>
                <td>{{ocorrencia.tipo == 1 ? 'Não Disciplinar' : ocorrencia.tipo == 2 ?
                    'Disciplinar Leve' : ocorrencia.tipo == 3 ?'Disciplinar Grave':'Disciplinar Gravíssima'}}
                </td>
                <td>{{ocorrencia.descricao}}</td>
                <td>
                    {{ocorrencia.data | date: 'dd/MM/yyyy'}}
                </td>
                <td ng-if="ocorrencia.confirmacao == 0 && funcaoUsuario == 3">
                    <button class="btn btn-success pull-right" ng-click="confirmarOcorrencia(ocorrencia)"><i
                            class="fa fa-check"></i></button>
                </td>
                <td ng-if="ocorrencia.confirmacao == 0 && funcaoUsuario != 3">Não Confirmada</td>
                <td ng-if="ocorrencia.confirmacao == 1">Confirmada</td>
            </tr>
            </tbody>
        </table>
    </div>
    <h2>Provas</h2>
    <div class="borda">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Tema</th>
                <th>Disciplina</th>
                <th>Data</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="p in ocorrencias.provas">
                <td>{{p.tema}}</td>
                <td>{{p.disciplina}}</td>
                <td>{{p.data | date: "dd/MM/yyyy"}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

